<%- model_class = Client -%>
<% if @clients.present? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id_do_cliente) %></th>
      <th><%= model_class.human_attribute_name(:nome_do_cliente) %></th>
      <th><%= model_class.human_attribute_name(:nascimento) %></th>
      <th><%= model_class.human_attribute_name(:sexo) %></th>
      <th><%= model_class.human_attribute_name(:endereço) %></th>
      <th><%= model_class.human_attribute_name(:telefone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:criado_em) %></th>
      <th><%=t '.ações', :default => t("helpers.ações") %></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.id, client_path(client) %></td>
        <td><%= client.name %></td>
        <td><%= client.birthday %></td>
        <td><%= client.gender %></td>
        <td><%= client.place %></td>
        <td><%= client.phone %></td>
        <td><%= client.email %></td>
        <td><%=l client.created_at %></td>
        <td>
          <%= link_to t('.editar', :default => t("helpers.links.editar")),
                      edit_client_path(client), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.deletar', :default => t("helpers.links.deletar")),
                      client_path(client),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="alert alert-warning">
  <p>Nenhum cliente foi encontrado.</p>
</div>
<% end %>

<%= link_to t('.novo_cliente', :default => t("helpers.links.novo_cliente")),
            new_client_path,
            :class => 'btn btn-primary' %>


